{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}

{% block body %}
    <h1>Recipes index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Recipe</th>
                <th scope="col">Created_at</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.recipe }}</td>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn-outline-info" href="{{ path('recipes_show', {'id': recipe.id}) }}">show</a>
                    <a class="btn-outline-warning" href="{{ path('recipes_edit', {'id': recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recipes_new') }}">Create new</a>
{% endblock %}
